extends _map-template

block vars
  - var title= "Volunteering Missions"

//- See /src/js/modules/map.js for details of logic behind rendering.
block sidebarContent
  if missions
    script window.missionsData = !{JSON.stringify(missions)}
  if sampleMissions
    script window.sampleMissionsData = !{JSON.stringify(sampleMissions)}
  if defaultLocation
    script window.defaultLocation = !{JSON.stringify(defaultLocation)}
  .panel.--visible#missions
    .missions
      .missions__new
        span Got a blissful idea for the good of humankind?
        a.button(href='/mission/new' data-mission-create) Create a Mission
      if cookies.latitude
        //- 1. Location is known.
        if createdMissions
          .missions__my
            label Minihero Missions you created:
            ul
              each createdMission in createdMissions
                li
                  a.mission__header(href='/mission/'+createdMission.missionId)
                    img#creator-avatar.avatar.--current(src='https://graph.facebook.com/' + user.fb.facebookId + '/picture?type=large' alt='')
                    div
                      h2= createdMission.title
                      span by #{user.fb.firstName} #{user.fb.lastName}
        if missions
          //- 1a. If missions nearby user's location.
          if allMissionsBelongToUser
            //- This state is possible if the user is signed in and the only nearby missions are their own.
            include partials/_missions-alone
          else
            //- There's a mix of user's missions and other people's missions.
            include partials/_missions-nearby
        if sampleMissions
          //- 1b. If no missions nearby user's location.
          include partials/_missions-empty
          include partials/_missions-samples
      else
        //- 2. Location not known.
        if missions
          //- 2a. If missions nearby default location.
          include partials/_missions-nearby
        if sampleMissions
          //- 2b. If no missions nearby default location.
          include partials/_missions-samples
