extends _map-template

block vars
  - var title= mission.title

block sidebarContent
  script.
    window.defaultLocation = !{JSON.stringify(defaultLocation)}
    window.missionData = !{JSON.stringify(mission)}
    window.isSampleMission = !{isSampleMission ? true : false}
  script(type='text/javascript').
    //- Plugin for 'add to calendar' feature from https://addtocalendar.com/
    (function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
      s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
      s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
      var h = d[g]('body')[0];h.appendChild(s); }})();
  .panel.--visible(id='mission' data-mission-id=mission.missionId)
    .mission
      .back
        a(href='/missions')
          img(src='/img/icon-arrow-back.svg' alt='')
          | Show all missions #{cookies.latitude ? 'near me' : ''}
      if user
        if mission.participants.toString().includes(user.id.toString())
          //- Current user is a participant.
          .mission__notice
            div
              img(src='/img/icon-happy-buddha-orange.svg' alt='')
              p Bliss! You're going on a mission. The following links will guide you. Now, go young Minihero.
              a.button.--light(href='https://www.google.com/maps/?q='+mission.place.geometry.location.lat+','+mission.place.geometry.location.lng target='_blank') View in Google Maps
              include partials/_addtocalendar.pug
        if user.id === creator.id
          .mission__notice
            div
              img(src='/img/icon-buddha-meditating.svg' alt='')
              p Enthusiasm. Drive. That's what the world needs. Lead the way, brave Minihero and share this mission link with your friends:
                br
                a(href='/mission/'+mission.missionId) https://minihero.org/mission/#{mission.missionId} 
              a.button.--light(href='https://www.google.com/maps/?q='+mission.place.geometry.location.lat+','+mission.place.geometry.location.lng target='_blank') View in Google Maps
              include partials/_addtocalendar.pug
      .mission__header
        div
          if isSampleMission
            img#creator-avatar.avatar.--current(src=creator.imageUrl alt='')
          else  
            img#creator-avatar.avatar.--current(src='https://graph.facebook.com/' + creator.fb.facebookId + '/picture?type=large' alt='')
        div
          h2= mission.title
          if mission.participants.length === 0
            span created by #{creator.fb.firstName} #{creator.fb.lastName}
          else
            span #{mission.participants.length} joined, created by #{creator.fb.firstName} #{creator.fb.lastName}
      if participants && participants.length > 0
        .mission__participants
          each participant in participants
            if isSampleMission
              img.avatar.--small(src=participant.imageUrl alt='')
            else
              img.avatar.--small(src='https://graph.facebook.com/' + participant.fb.facebookId + '/picture?type=large' alt=participant.fb.firstName + ' ' + participant.fb.lastName title=participant.fb.firstName + ' ' + participant.fb.lastName)
      .mission__description
        p= mission.description
      .mission__meta
        div
          img(src='/img/icon-clock.svg' alt='Date')
          | #{mission.formattedDate.readableDate}
        div
          img(src='/img/icon-location.svg' alt='Location: ')
          if user
            if user.id === creator.id
              a(href='https://www.google.com/maps/?q='+mission.place.geometry.location.lat+','+mission.place.geometry.location.lng target='_blank') #{mission.place.formatted_address}
            else
              if mission.participants.toString().includes(user.id.toString())
                //- Current user is a participant.
                a(href='https://www.google.com/maps/?q='+mission.place.geometry.location.lat+','+mission.place.geometry.location.lng target='_blank') #{mission.place.formatted_address}
              else
                | Join the Mission to reveal the exact location.
          else
            | Exact location is only shown to Minihero users.
      .mission__actions
        if user
          if user.id === creator.id 
            //- Current user is the creator of the mission.
            div
              span Want to change something?
              a.button.--secondary(href='/mission/' + mission.missionId + '/edit' data-mission-edit) Edit Mission
          else
            if mission.participants.toString().includes(user.id.toString())
              //- Current user is a participant.
              div
                span Change your mind?
                a.button.--secondary(href='/mission/' + mission.missionId + '/leave' data-mission-leave) Leave Mission
            else
              //- Current user is not yet a participant.
              div
                span Want to take part?
                a.button(href='/mission/' + mission.missionId + '/join' data-mission-join) Join Mission
        else
          div
            span Want to take part?
            a.button(href='/login/facebook') Join Minihero
          
      .modal.--overlay.--joining
        div
          img(src='/img/icon-supercharged-karma-orange.svg' alt='')
          h1 Supercharging your karma...
      .modal.--overlay.--leaving
        div
          h1 Downgrading your karma...
        
