extends _map-template

block vars
  - var title= mission.title

block sidebarContent
  script.
    window.defaultLocation = !{JSON.stringify(defaultLocation)}
  script(type='text/javascript').
    //- Plugin for 'add to calendar' feature from https://addtocalendar.com/
    (function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
      s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
      s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
      var h = d[g]('body')[0];h.appendChild(s); }})();
  .panel.--visible(id='mission' data-mission-id=mission.missionId)
    .mission(data-is-sample-mission=(isSampleMission ? 'yes' : 'no') data-location-latitude=mission.location.latitude data-location-longitude=mission.location.longitude data-location-latitude-offset=mission.location.latitudeOffset data-location-longitude-offset=mission.location.longitudeOffset)
      .back
        a(href='/missions')
          i.material-icons arrow_back
          | Show all missions #{user ? 'near me' : ''}
      if user
        if mission.participants.toString().includes(user.id.toString())
          //- Current user is a participant.
          .mission__notice
            div
              img(src='/img/icon-happy-buddha-orange.svg' alt='')
              p Bliss! You're going on a mission. The following links will guide you. Now, go young Minihero.
              a.button.--light(href='https://www.google.com/maps/?q='+mission.location.latitude+','+mission.location.longitude target='_blank') View in Google Maps
              span.addtocalendar(data-calendars='iCalendar, Google Calendar, Outlook')
                a.button.atcb-link Add to Calendar
                var.atc_event
                  var.atc_date_start #{mission.formattedDate.year}-#{mission.formattedDate.month}-#{mission.formattedDate.day} #{mission.formattedDate.hour}:#{mission.formattedDate.minute}:#{mission.formattedDate.second}
                  var.atc_date_end #{mission.formattedDate.year}-#{mission.formattedDate.month}-#{mission.formattedDate.day} #{Number(mission.formattedDate.hour) + 1}:#{mission.formattedDate.minute}:#{mission.formattedDate.second}
                  var.atc_timezone #{mission.location.timeZoneId}
                  var.atc_title #{mission.title}
                  var.atc_description #{mission.description}
                  var.atc_location #{mission.location.humanReadableLocation}
                  var.atc_organizer Minihero Mission organiser: #{creator.fb.firstName} #{creator.fb.lastName}
        if user.id === creator.id
          .mission__notice
            div
              img(src='/img/icon-buddha-meditating.svg' alt='')
              p Enthusiasm. Drive. That's what the world needs. Lead the way, brave Minihero and share this mission link with your friends:
                br
                a(href='/mission/'+mission.missionId) https://minihero.org/mission/#{mission.missionId} 
              a.button.--light(href='https://www.google.com/maps/?q='+mission.location.latitude+','+mission.location.longitude target='_blank') View in Google Maps
              span.addtocalendar(data-calendars='iCalendar, Google Calendar, Outlook')
                a.button.atcb-link Add to Calendar
                var.atc_event
                  var.atc_date_start #{mission.formattedDate.year}-#{mission.formattedDate.month}-#{mission.formattedDate.day} #{mission.formattedDate.hour}:#{mission.formattedDate.minute}:#{mission.formattedDate.second}
                  var.atc_date_end #{mission.formattedDate.year}-#{mission.formattedDate.month}-#{mission.formattedDate.day} #{Number(mission.formattedDate.hour) + 1}:#{mission.formattedDate.minute}:#{mission.formattedDate.second}
                  var.atc_timezone #{mission.location.timeZoneId}
                  var.atc_title #{mission.title}
                  var.atc_description #{mission.description}
                  var.atc_location #{mission.location.humanReadableLocation}
                  var.atc_organizer Minihero Mission organiser: #{creator.fb.firstName} #{creator.fb.lastName}
      .mission__header
        div
          if isSampleMission
            img#creator-avatar.avatar.--current(src=creator.imageUrl alt='')
          else  
            img#creator-avatar.avatar.--current(src='https://graph.facebook.com/' + creator.fb.facebookId + '/picture?type=large' alt='')
        div
          h2= mission.title
          if mission.participants.length === 0
            span created by #{creator.fb.firstName} #{creator.fb.lastName}
          else
            span #{mission.participants.length} joined, created by #{creator.fb.firstName} #{creator.fb.lastName}
      if participants && participants.length > 0
        .mission__participants
          each participant in participants
            if isSampleMission
              img.avatar.--small(src=participant.imageUrl alt='')
            else
              img.avatar.--small(src='https://graph.facebook.com/' + participant.fb.facebookId + '/picture?type=large' alt=participant.fb.firstName + ' ' + participant.fb.lastName title=participant.fb.firstName + ' ' + participant.fb.lastName)
      .mission__description
        p= mission.description
      .mission__meta
        div
          i.material-icons access_time
          | #{mission.formattedDate.readableDate}
        div
          i.material-icons location_on
          if user
            if user.id === creator.id
              a(href='https://www.google.com/maps/?q='+mission.location.latitude+','+mission.location.longitude target='_blank') #{mission.location.humanReadableLocation}
            else
              if mission.participants.toString().includes(user.id.toString())
                //- Current user is a participant.
                a(href='https://www.google.com/maps/?q='+mission.location.latitude+','+mission.location.longitude target='_blank') #{mission.location.humanReadableLocation}
              else
                | Join the Mission to reveal the exact location.
          else
            | Exact location is only shown to Minihero users.
      .mission__actions
        if user
          if user.id === creator.id 
            //- Current user is the creator of the mission.
            div
              span Want to change something?
              a.button.--secondary(href='/mission/' + mission.missionId + '/edit' data-mission-edit) Edit Mission
          else
            if mission.participants.toString().includes(user.id.toString())
              //- Current user is a participant.
              div
                span Change your mind?
                a.button.--secondary(href='/mission/' + mission.missionId + '/leave' data-mission-leave) Leave Mission
            else
              //- Current user is not yet a participant.
              div
                span Want to take part?
                a.button(href='/mission/' + mission.missionId + '/join' data-mission-join) Join Mission
        else
          div
            span Want to take part?
            a.button(href='/login/facebook') Join Minihero
          
      .modal.--overlay.--joining
        div
          img(src='/img/icon-supercharged-karma-orange.svg' alt='')
          h1 Supercharging your karma...
      .modal.--overlay.--leaving
        div
          h1 Downgrading your karma...
        //- div.modal__success
        //-   img(src='/img/icon-happy-buddha.svg' alt='')
        //-   h1 Karma successfully supercharged!
        //-   p Now, brave Minihero, complete your mission.
        //- div.modal__error
        //-   img(src='/img/icon-childs-pose.svg' alt='')
        //-   h1 Error supercharging your karma!
        //-   p Take five deep breaths and try again.
        
