extends _map-template

block vars
  - var title= "Volunteering Missions"

block sidebarContent 
  if !nearbyMissions
    script.
      window.sampleMissions = !{JSON.stringify(sampleMissions)}
      window.defaultLocation = !{JSON.stringify(defaultLocation)}
  .panel.--visible#missions
    .missions
      .missions__new
        span Got a blissful idea for the good of humankind?
        a.button(href='/mission/new' data-mission-create) Create a Mission
      if user
        //- User is signed in. Show user's created missions.
        if user.createdMissionIds.length > 0
          .missions__my
            label Minihero Missions I created:
            ul
              each createdMission in createdMissions
                li
                  a.mission__header(href='/mission/'+createdMission.missionId)
                    img#creator-avatar.avatar.--current(src='https://graph.facebook.com/' + user.fb.facebookId + '/picture?type=large' alt='')
                    div
                      h2= createdMission.title
                      span by #{user.fb.firstName} #{user.fb.lastName}
        //- No nearby missions. Show empty state.
        .missions__empty
          .modal
            div
              img(src='/img/icon-gandhi.svg' alt='')
              h1 Be the change#[br] you wish to see in the world.
              p Currently there are no Minihero missions near you, but you can kick things off by creating one yourself. #[a(href='/mission/new') Create a Mission.]
      else
        //- User is not signed in. Show sample missions.
        .missions__samples
          label Below are some sample Missions to give you a taste of what's to come on Minihero:
          ul
            each sampleMission in sampleMissions.missions
              li
                a.mission__header(href='/mission/'+sampleMission.missionId)
                  img.avatar(src=sampleMission.creator.imageUrl)
                  div
                    h2= sampleMission.title
                    span by #{sampleMission.creator.fb.firstName} #{sampleMission.creator.fb.lastName}
