extends _map-template

block vars
  - var title= "Volunteering Missions"

//- See /src/js/modules/map.js for details of logic behind rendering.
block sidebarContent
  if missions
    script window.missionsData = !{JSON.stringify(missions)}
  if sampleMissions
    script window.sampleMissionsData = !{JSON.stringify(sampleMissions)}
  if defaultLocation
    script window.defaultLocation = !{JSON.stringify(defaultLocation)}
  .panel.--visible#missions
    .missions
      .missions__new
        span Got a blissful idea for the good of humankind?
        a.button(href='/mission/new' data-mission-create) Create a Mission
      if cookies.latitude
        //- 1. Location is known.
        if createdMissions
          .missions__my
            label Minihero Missions you created:
            ul
              each obj in createdMissions
                li
                  a.mission__header(href='/mission/'+obj.mission.missionId)
                    div
                      if obj.creator.fb.facebookId == 10155768356646155
                        img#creator-avatar.avatar.--current(src='https://pbs.twimg.com/profile_images/965019535869964290/7vc8aX_g_400x400.jpg' alt='')
                      else
                        img#creator-avatar.avatar.--current(src='https://graph.facebook.com/' + obj.creator.fb.facebookId + '/picture?type=large' alt='')
                    div
                      h2= obj.mission.title
                      span by #{obj.creator.fb.firstName} #{obj.creator.fb.lastName}
        if joinedMissions
          .missions__joined
            label Minihero Missions you joined:
            ul
              each obj in joinedMissions
                li
                  a.mission__header(href='/mission/'+obj.mission.missionId)
                    div
                      if obj.creator.fb.facebookId == 10155768356646155
                        img#creator-avatar.avatar.--current(src='https://pbs.twimg.com/profile_images/965019535869964290/7vc8aX_g_400x400.jpg' alt='')
                      else
                        img#creator-avatar.avatar.--current(src='https://graph.facebook.com/' + obj.creator.fb.facebookId + '/picture?type=large' alt='')
                    div
                      h2= obj.mission.title
                      span by #{obj.creator.fb.firstName} #{obj.creator.fb.lastName}
        if missions
          //- 1a. If missions nearby user's location.
          if allMissionsBelongToUser
            //- This state is possible if the user is signed in and the only nearby missions are their own.
            include partials/_missions-alone
          else
            //- There's a mix of user's missions and other people's missions.
            include partials/_missions-nearby
        if sampleMissions
          //- 1b. If no missions nearby user's location.
          include partials/_missions-empty
          include partials/_missions-samples
      else
        //- 2. Location not known.
        if missions
          //- 2a. If missions nearby default location.
          include partials/_missions-nearby
        if sampleMissions
          //- 2b. If no missions nearby default location.
          include partials/_missions-samples
    
    div.missions__feedback
      p Got ideas for how to make Minihero better? Don't be shy. #[a(href='https://twitter.com/@damirkotoric') Tweet] or #[a(href='mailto:damirkotoric@gmail.com?subject=Ideas for Minihero') email me].
