block vars

.panel(id='mission'+missionId)
  .mission
    .back
      a(href='/map' data-mission-close)
        i.material-icons arrow_back
        | Show all missions
    .mission__header
      img.avatar.--current(src=missionCreatorImage)
      div
        h2= missionTitle
        span #{missionParticipants} joined, created by #{missionCreatorName}
    .mission__participants
      each participant in missionParticipantsImages
        img.avatar.--small(src=participant)
    .mission__description
      p= missionDescription
    .mission__meta
      div
        i.material-icons access_time
        | #{missionDateTime}
      div
        i.material-icons location_on
        | Join the mission to reveal the exact location.
    .mission__actions
      div
        span Want to take part?
        a.button(href='/missions/'+missionId+'/join' data-mission-join) Join Mission
      div
        span Change your mind?
        a.button.--secondary(href='/missions/'+missionId+'/leave' data-mission-leave) Leave Mission
    .modal.--overlay
      div.modal__loading
        img(src='/img/supercharged-karma-orange.svg' alt='')
        h1 Supercharging your karma...
      div.modal__success
        img(src='/img/happy-buddha.svg' alt='')
        h1 Karma successfully supercharged!
        p 
          | Now, brave Minihero, complete your mission.
      div.modal__error
        img(src='/img/childs-pose.svg' alt='')
        h1 Error supercharging your karma!
        p Take five deep breaths and try again.
